DB_USER='name of the user of the database'
DB_PASS='password of your postgress'
DB_NAME='name of the database || Barefoot'
DB_TEST_NAME='name of the database for test || Barefoot_test'
NODE_ENV='development'