<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>barefoot-nomad | Social login</title>
</head>
<body>
    <form action="https://knights-bn-backend-staging.herokuapp.com/api/v1/auth/login/google">
        <button>Login with Google</button>
    </form>
    <form action="https://knights-bn-backend-staging.herokuapp.com/api/v1/auth/login/facebook">
        <button>Login with facebook</button>
    </form>
</body>
</html>
